html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f4f5f7;
  color: #333;
  font-family: "Arial", sans-serif;

}

app-root {
  display: block;
  height: 100%;
  width: 100%;

}
